
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(to bottom, #450c19, #ad233d); */
    background-color: #edfccb;
}

.box {
    position: relative;
    display: flex;
    width: 1152px;
    height: 520px;
    background: #1c1c1c;
    border-radius: 64px 96px 128px 8px;
    overflow: hidden;
    box-shadow: 0 12px 28px  #88cb17; /* Añade un box-shadow */
}


.box .imagen {
    flex: 1; /* Ocupa todo el espacio disponible en la caja */
    background: #4f7b10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4em;
}
.box .imagen .svg{
    margin-top: 50px;
    font-size: 3em;
}

.box .imagen h1 {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.box form {
    flex: 1;
    inset: 4px;
    background: #222;
    padding:  50px 40px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box form h2{
    color: #ffff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputbox{
    position: relative;
    width: 80%;
    margin-top: 45px;
}

.box form .inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputbox span{
    position: relative;
    left: 0;
    padding: 10px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    
}

.box form .inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ffff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i{
    height: 45px;
}

.box form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #ffff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 80%;
    margin-top: 60px;
}

.box form input[type="submit"]:active{
    background-color:#68a20e;
    color: #ffff;
    opacity: 0.8;

}


.box form .register-link {
    margin-top: 20px;
    text-align: center;
    color: #ffff;
}

.box form .register-link a {
    color: #ffff;
    text-decoration: underline;
    transition: color 0.3s;
}

.box form .register-link a:hover {
    color: #68a20e; 
}

.error-message {
    color: red;
    font-size: 0.8em;
}