@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gren: #68a20e ;
    --white: #ffffff;
    --gray: #f5f5f5;
    --black: #222;
    --black1: #3d3d3d;
    --black2: #999;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--gren);
    border-left: 10px solid var(--gren);
    transition: 0.5s;
    overflow: hidden;
    left: 0;
    top: 0;
}
.navigation.active{
width: 80px;
}

.navigation ul {
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius:30px ;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background-color: var(--white);
}

.navigation ul li:nth-child(1){
    margin-bottom:  40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--gren);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
    margin-top: -5px;
}

.navigation ul li a .icon{
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a:before,
.navigation ul li.hovered a:before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* main */

.main {
    top: 0;
    left: 0;
    position: relative;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
} 

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; 
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label > svg {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* example */

.cardBox {
    position: relative;
    width: calc(100% -300px);
    padding: 20px;
    display: grid;
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .title {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--gren);
}

.cardBox .card .cardName {
    color: var(--black);
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 3.5rem;
    color: var(--black2);
}

.cardBox .card:hover {
    background: var(--gren);
}
.cardBox .card:hover .title,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--white);
}

.main .process-span {
    position: relative;
    width: calc(100% -300px);
    padding: 20px;
    display: grid;
    grid-gap: 30px;
}
.main .process-span span{
    text-align: center;
    background: var(--gren);
    color:  var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}



/* container info */
.containerInfo {
    position: relative;
    width: calc(100% -300px);
    padding: 20px;
    display: grid;
    grid-gap: 30px;
}

.containerInfo .Info-title{
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}
.containerInfo .Info-title span {
    text-align: center;
    background: var(--black1);
    color: var(--white);
    border-radius: 20px;
    padding: 10px;
}
.containerInfo .divInfo {
    display: flex;

}
.containerInfo .divInfo .Info{
    width: 50%;
    height:min-content;
    background: var(--white);
    padding: 30px;
    margin: 1%;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}


.containerInfo .InfoColumns {
    width: 100%;
}

.containerInfo .Info .text {
    
    justify-content: center;
    line-height: 1.6;
    font-size: 1rem;
    color: #555;
    flex: 1;
}

.containerInfo .Info .text h1,h3{
    text-align: center;
    color: var(--black);
}

.containerInfo .Info .text h3 {
    margin-top: 15px;
}

.containerInfo .Info .text button {
    width: 100%;
    background-color: #dbf89e; 
    color: var(--black); 
    margin-top: 10px;
    padding: 10px 20px; 
    font-size: 1rem; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}


/* table */

.container-tabla {
    position: relative;
    width: calc(100% -300px);
    margin: 30px;
    padding: 20px;
    display: grid;
    grid-gap: 15px;
    background: var(--white);
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);
}

.search-container {
    margin-bottom: 1rem;
}

.search-container .search{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}



.container-table-data {
    margin-top: 1rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.filas {
    background-color: #f5f5f5;
}

.celda-encabezado {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.ordenar-arriba,
.ordenar-abajo,
.arriba-abajo {
    margin-left: 0.25rem;
    vertical-align: middle;
}

.datos {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.pag-mov {
    display: flex;
}

.pag-mov button {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-right: 0.25rem;
    cursor: pointer;
}

.pag-mov button:hover:enabled {
    background-color: #fff;
}

.w-5,
.h-5 {
    width: 1.25rem;
    height: 1.25rem;
}

.consulta {
    font-size: 0.875rem;
    color: #666;
}

.more-pags {
    padding: 0.25rem;
    font-size: 0.875rem;
}

.button {
    width: 100%;
    background-color: #dbf89e; 
    color: var(--black); 
    margin-top: 10px;
    padding: 10px 20px; 
    font-size: 1rem; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}